.yellow{
	background-color: #FACC2E;
	padding-bottom: 3em;
	width: 250px;
	height: 100px;
}
.grey{
	background-color: #3F3D3D;
	padding-bottom: 3em;
	width: 250px;
	height: 100px;
}
h3,p{
	padding: 0.3em
}
p{
	color:white;
}